td {
	height: 15px;
	width: 15px;
	border: 1px solid gray;
  background-color: #fdff00;
}

td:hover {
  opacity: 0.2;
}

.alive {
	opacity: 1.0 !important;
}

.dead {
	opacity: 0;
}

body{
  text-align: center;
}

table {
  margin: 30px auto;
}

button {
  margin: 0 10px;
}
